/*
 * Repomaker App Styles
 */
.rm-app-toolbar {
    display: flex;
    align-items: center;
}

.rm-app-header {
    display: flex;
    align-items: center;
}

.rm-app-primary-content {
    align-items: flex-start;
    display: flex;
    flex-grow: 2;
    flex-flow: column;
    margin-left: 16px;
}

.rm-app-title {
    color: #000;
    font-weight: 500;
    @include font-size(22px);
    line-height: 20px;
    margin: 0;
    padding-bottom: 3px;
}

.rm-app-author {
    @include font-size(15px);
    color: #4a4a4a;
}

.rm-app-secondary-content {
    align-items: flex-end;
    display: flex;
    flex-flow: column;
    margin-left: 16px;
    text-align: right;
}

.rm-app-version {
    @include font-size(15px);
    color: #4a4a4a;
}

.rm-app-last-time-updated {
    @include font-size(15px);
    color: #4a4a4a;
}

.rm-app-summary-category {
    display: flex;
    align-items: center;
}

.rm-app-summary {
    align-items: flex-start;
    display: flex;
    flex-grow: 2;
    flex-flow: column;
    margin-left: 16px;
    font-style: italic;
    font-size: 17px;
    color: #000;
}

.rm-app-category-chip {
    background: #f4f4f4;
    margin: 0 4px 0 4px;
}

.rm-app-category-text {
    color: #4a4a4a;
    font-size: 13px;
}

.rm-app-screenshots {
    display: block;
    white-space: nowrap;
    overflow: auto;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.rm-app-screenshot {
    display: inline-block;
    margin: 10px 0px 10px 10px;
    max-height:500px;
}

.rm-app-screenshot-delete {
    position: relative;
    vertical-align: top;
    left: -25px;
}

.rm-app-description {
    color: #000;
    font-size: 15px;
}

.rm-app-versions {
    border-top: thin solid #f1f1f1;
}

.rm-app-versions-title {
    color: #999999;
    @include font-size(13px);
    text-transform: uppercase;
}

.rm-app-versions-item {
    border-bottom: thin solid #f1f1f1;
}

/*
 * Navigation between apps
 */
$rm-app-navigation-padding: 16px;

.rm-app-navigation-previous {
    align-items: center;
    background: #f6f6f6;
    color: #4a4a4a;
    display: flex;
    padding: $rm-app-navigation-padding;
    text-decoration: none;
}

a.rm-app-navigation-previous:hover {
    background: #e6e6e6;
}

.rm-app-navigation-next {
    @extend .rm-app-navigation-previous;
    flex-direction: row-reverse;
}

.rm-app-navigation-previous-text, .rm-app-navigation-next-text {
    @include font-size(19px);
    margin: 10px;
}
