{% load i18n %}
<div class="rm-grid--center mdl-grid">
	<div class="mdl-cell mdl-cell--9-col">
		{% if apps %}
		<div class="rm-grid--full-width mdl-grid">
			<div class="rm-repo-apps-header mdl-cell mdl-cell--12-col">
				<div class="rm-repo-apps-header-search">
					<a href="#" onclick="toggleSearch()" class="rm-repo-apps-header-search-icon">
						<i class="material-icons">search</i>
					</a>
					<!-- TODO: Make search working -->
					<div id="rm-repo-apps-header-search-input" class="mdl-textfield mdl-js-textfield">
						<input
								name="Search"
								placeholder="{% trans 'Search for apps in your repository' %}"
								id="id_search"
								class="mdl-textfield__input"
								type="text">
					</div>
				</div>
			</div>
			<div class="rm-repo-apps-add mdl-cell mdl-cell--6-col">
				<div class="rm-repo-apps-add-locally">
					<!-- TODO: Make this a drag and drop area -->
					<i class="rm-repo-apps-empty-add-icon material-icons">file_upload</i>
					<div class="rm-repo-apps-empty-add-title">{% trans 'Add files' %}</div>
					<!-- TODO: Make this translatable properly -->
					<div class="rm-repo-apps-empty-add-description-first">
						{% trans 'Drag and drop .apk, .pdf, .epub, videos, photos or music files' %}
					</div>
					<div class="rm-repo-apps-empty-add-description-second">
						{% trans 'or' %}
						<!-- TODO: Make this link working -->
						<a class="rm-repo-apps-empty-add-upload-browse" href="#">{% trans 'browse to upload' %}</a>
					</div>
				</div>
				<a href="{% url 'add_app' repo.id %}" class="rm-repo-apps-add-remotely">
					<i class="rm-repo-apps-empty-empty-icon material-icons">explore</i>
					<div class="rm-repo-apps-add-remotely-title">
						{% trans 'add from repos' %}
					</div>
				</a>
			</div>
			{% for app in apps %}
				{% include "maker/widgets/app.html" %}
			{% endfor %}
		</div>
		{% else %}
		<div class="mdl-grid mdl-grid--no-spacing">
			<div class="rm-repo-apps-empty-add mdl-cell mdl-cell--7-col">
				<!-- TODO: Make this a drag and drop area -->
				<i class="rm-repo-apps-empty-add-icon material-icons">file_upload</i>
				<div class="rm-repo-apps-empty-add-title">{% trans 'Add files' %}</div>
				<!-- TODO: Make this translatable properly -->
				<div class="rm-repo-apps-empty-add-description-first">
					{% trans 'Drag and drop .apk, .pdf, .epub, videos, photos or music files' %}
				</div>
				<div class="rm-repo-apps-empty-add-description-second">
					{% trans 'or' %}
					<!-- TODO: Make this link working -->
					<a class="rm-repo-apps-empty-add-upload-browse" href="#">{% trans 'browse to upload' %}</a>
				</div>
			</div>
			<div class="rm-repo-apps-empty-discover mdl-cell mdl-cell--5-col">
				<i class="rm-repo-apps-empty-empty-icon material-icons">explore</i>
				<div class="rm-repo-apps-empty-empty-title">{% trans 'Discover' %}</div>
				<div class="rm-repo-apps-empty-empty-description">{% trans 'Find things to add from other repos' %}</div>
				<a href="{% url 'add_app' repo.id %}" class="rm-repo-apps-empty-empty-add rm-no-underline">
					<button class="rm-button--blue mdl-button mdl-js-button">
						{% trans 'add from repos' %}
					</button>
				</a>
			</div>
		</div>
		{% endif %}
	</div>
</div>

<script>
	// TODO: Make this script working
	// Probably related to https://gitlab.com/fdroid/repomaker/issues/31
	var rmRepoAppsHeaderSearchInput = document.getElementById('rm-repo-apps-header-search-input');
	rmRepoAppsHeaderSearchInput.style.display = 'none';
	function toggleSearch() {
		if (rmRepoAppsHeaderSearchInput.style.display == 'none') {
			rmRepoAppsHeaderSearchInput.style.display = 'block';
			return;
		}
		rmRepoAppsHeaderSearchInput.style.display = 'none';
	}
</script>
