{% load i18n %}

<form class="rm-form rm-login-form" method="POST" action="{% url 'account_signup' %}">
	{% csrf_token %}
	{% if redirect_field_value %}
	<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
	{% endif %}
	{% include 'maker/form.html' %}
	<div class="mdl-cell mdl-cell--12-col">
		<input type="submit" class="rm-button--blue" value="{% trans 'Signup' %}">
	</div>
</form>

<p></p>
<p></p>
