{% extends "maker/base.html" %}
{% load i18n %}
{% load humanize %}
{% block title %}{{ app.name }}{% endblock title %}
{% block rm-header-classes %}rm-header--light{% endblock rm-header-classes %}
{% block toolbar %}
<div class="rm-grid--full-width rm-grid--center mdl-grid">
	<div class="rm-app-toolbar mdl-cell mdl-cell--8-col">
		<a href="{% url 'repo' app.repo.id %}" class="rm-toolbar-action-left">
			<i class="material-icons">arrow_back</i>
		</a>
		<div>
			<span class="rm-toolbar-item">
				<a href="{% url 'app_translate' app.repo.id app.id %}" class="rm-no-underline">
				{% blocktrans with count=app.get_available_languages.count trimmed %}
				Language ({{ count }})
				{% endblocktrans %}
				</a>
				<i class="material-icons">expand_more</i>
				<!-- TODO: Make Language dropdown work
				{% trans 'None' as None %}
				{{ app.get_available_language_names|join:", "|default:None }}
				-->
			</span>
			<a href="{% url 'edit_app' app.repo.id app.id %}" class="rm-no-underline">
				<button class="rm-button mdl-button mdl-js-button">
					{% trans 'Edit' %}
				</button>
			</a>
		</div>
	</div>
</div>
{% endblock toolbar %}

{% block rm-content %}
<div class="rm-grid--center mdl-grid">
	<div class="mdl-cell mdl-cell--6-col">
		<div class="rm-app-header">
			<img src="{{ app.icon.url }}" alt="Repo Icon" class="rm-icon"/>
			<div class="rm-app-primary-content">
				<h2 class="rm-app-title">{{ app.name }}</h2>
				{% if app.author_name %}
				<div class="rm-app-author">
					{% blocktrans with author=app.author_name trimmed %}
					Developed by {{ author }}
					{% endblocktrans %}
				</div>
				{% endif %}
			</div>
			<div class="rm-app-secondary-content">
				{% if latest_apk %}
				<div class="rm-app-version">
					Version: {{ latest_apk.version_name }}
				</div>
				{% endif %}
				<div class="rm-app-last-time-updated">
					{# time is e.g. '6 days' and will be translated automatically #}
					{% blocktrans with time=app.last_updated_date|timesince trimmed %}
					Updated {{ time }} ago
					{% endblocktrans %}
				</div>
			</div>
		</div>
		<div class="rm-app-summary-category">
			<div class="rm-app-summary">{{ app.summary }}</div>

			{% if app.category.exists %}
			{% for category in app.category.all %}
			<span class="rm-app-category-chip mdl-chip">
				<span class="rm-app-category-text mdl-chip__text">{{ category }}</span>
			</span>
			{% endfor %}
			{% endif %}
		</div>
	</div>
</div>
<div class="rm-grid--center mdl-grid">
	<div class="rm-app-screenshots mdl-cell mdl-cell--8-col">
		{% for screenshot in app.screenshot_set.all %}
		<img src="{{ screenshot.get_url }}" class="rm-app-screenshot"/>
		<a href="{% url 'screenshot_delete' app.repo.id app.id screenshot.id %}"
		   class="rm-app-screenshot-delete rm-no-underline">
			<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
				<i class="material-icons">delete</i>
			</button>
		</a>
		{% endfor %}
	</div>
</div>
<div class="rm-grid--center mdl-grid">
	<div class="rm-app-description mdl-cell mdl-cell--6-col">
		{{ app.description|safe }}
	</div>
</div>
<div class="rm-grid--center mdl-grid">
	<div class="rm-app-versions mdl-cell mdl-cell--6-col">
		<h4 class="rm-app-versions-title">
			{% trans 'version history' %}
		</h4>
		{% if apks %}
		<ul class="rm-app-versions-list mdl-list">
			{% for pointer in apks %}
			<li class="rm-app-versions-item mdl-list__item mdl-list__item--two-line">
				<span class="mdl-list__item-primary-content">
					<span>
						{% blocktrans with version=pointer.apk.version_name trimmed %}
						Version {{ version }}
						{% endblocktrans %}
					</span>
					{% if pointer.file %}
					<span class="mdl-list__item-sub-title">
						{% blocktrans with date=pointer.apk.added_date|date:"F j, Y" trimmed %}
						Released {{ date }}
						{% endblocktrans %}
					</span>
					{% else %}
					<span class="mdl-list__item-sub-title">
						<!-- TODO: Use progress bar instead and reload when download done -->
						{% trans 'Still downloading APK…' %}
					</span>
					{% endif %}
				</span>
			</li>
			{% endfor %}
		</ul>
		{% else %}
		<p>{% trans 'This app has no APK files.' %}</p>
		<p>{% trans 'If you added this app from a remote repo, try deleting and adding it again.' %}</p>
		{% endif %}
	</div>
</div>
<div class="rm-app-navigation mdl-grid">
	<div class="mdl-cell mdl-cell--6-col">
	{% if app.get_previous_by_added_date %}
	<a href="{{ app.get_previous_by_added_date.get_absolute_url }}" class="rm-app-navigation-previous">
		<i class="material-icons">arrow_back</i>
		<h3 class="rm-app-navigation-previous-text">{% trans 'Previous' %}</h3>
	</a>
	{% endif %}
	</div>
	<div class="mdl-cell mdl-cell--6-col">
	{% if app.get_next_by_added_date %}
	<a href="{{ app.get_next_by_added_date.get_absolute_url }}" class="rm-app-navigation-next">
		<i class="material-icons">arrow_forward</i>
		<h3 class="rm-app-navigation-next-text">{% trans 'Next' %}</h3>
	</a>
	{% endif %}
	</div>
</div>
{% endblock rm-content %}
