{% extends "maker/base.html" %}
{% load i18n %}
{% load sass_tags %}

{% block title %}{% trans 'Add Screenshot' %}{% endblock %}

{% block head %}
<link href="{% sass_src 'maker/css/forms.scss' %}" rel="stylesheet" type="text/css" media="all">
{% endblock head %}


{% block rm-content %}

<h1>{% trans 'Add Screenshot' %}</h1>

<div class="rm-form">
	<form action="" enctype="multipart/form-data" method="post">
		{% csrf_token %}
		{% include '../form.html' %}
		<div class="mdl-cell mdl-cell--6-col">
			<input type="submit" value="{% trans 'Upload Screenshot' %}"/>
		</div>
	</form>
</div>

<p></p>

{% endblock rm-content %}
