{% extends "maker/base.html" %}
{% load i18n %}
{% load sass_tags %}

{% block title %}{% trans 'Delete App' %}{% endblock %}
{% block toolbar-title %}<a href="{% url 'repo' object.app.repo.id %}">{{ object.app.repo.name }}</a>{% endblock %}

{% block head %}
<link href="{% sass_src 'maker/css/forms.scss' %}" rel="stylesheet" type="text/css" media="all">
{% endblock head %}


{% block rm-content %}

<img src="{{ object.file.url }}" style="max-height: 500px;"/>

<div class="rm-form">
	<form action="" method="post">
		{% csrf_token %}
		<p>{% blocktrans with app=object.app %}Are you sure you want to delete this screenshot from your app "{{ app }}"?{% endblocktrans %}</p>
		<div class="mdl-cell mdl-cell--6-col">
			<input type="submit" value="{% trans 'Confirm' %}"/>
		</div>
	</form>
</div>

{% endblock rm-content %}
