{% extends "maker/base.html" %}
{% load i18n %}
{% load sass_tags %}

{% block title %}{% trans 'Translate App' %}{% endblock %}
{% block toolbar-title %}{{ app.repo.name }} - <a href="{% url 'app' app.repo.id app.id %}">{{ app.name }}</a>{% endblock %}

{% block head %}
<link href="{% sass_src 'maker/css/forms.scss' %}" rel="stylesheet" type="text/css" media="all">
{{ form.media }}
{% endblock head %}


{% block rm-content %}

<h2 style="vertical-align: middle;">
    <img src="{{ app.icon.url }}" alt="App Icon" class="rm-icon"/> {% blocktrans %}Translate {{ app }}{% endblocktrans %}
</h2>

<div class="rm-form">
    <form action="" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="mdl-cell mdl-cell--6-col">
            <input type="submit" value="{% trans 'Save Translation' %}"/>
        </div>
    </form>
</div>

{% endblock rm-content %}
