{% if repo_page %}
<div class="rm-app-card mdl-cell mdl-cell--6-col mdl-card mdl-shadow--2dp mdl-color--white">
{% else %}
<a href="{% url 'app' repo.id app.id %}"
   class="rm-app-card mdl-cell mdl-cell--6-col mdl-card mdl-shadow--2dp mdl-color--white rm-no-underline">
{% endif %}
	<div class="rm-app-card-left"
		 style="background-image: url({% if repo_page %}{{ app.get_icon_basename }}{% else %}{{ app.icon.url }}{% endif %})">
	</div>
	<div class="rm-app-card-right">
		<div class="rm-app-card-title">{{ app.name }}</div>
		<div class="rm-app-card-summary">{{ app.summary }}</div>
		<div class="rm-app-card-description">{{ app.description|striptags|truncatechars:168 }}</div>
	</div>
{% if not repo_page %}
</a>
{% else %}
</div>
{% endif %}
