{% extends "maker/storage/form.html" %}
{% load i18n %}
{% load static %}

{% block images %}
<div>
	{% blocktrans trimmed with gitlab='<a href="https://gitlab.com" target="_blank">Gitlab.com</a>' %}
	Find and copy the
	Git Repository SSH address from your {{ gitlab }} repository:
	{% endblocktrans %}
	<p>
		<img src="{% static 'maker/images/gitlab_url.png' %}" style="border: wheat solid;"/>
	</p>
</div>
{% endblock images %}
