{% extends "maker/base.html" %}
{% load i18n %}
{% load sass_tags %}

{% block title %}
{% if object %}
{% blocktrans %}Update {{ storage_name }}{% endblocktrans %}
{% else %}
{% blocktrans %}Add {{ storage_name }}{% endblocktrans %}
{% endif %}
{% endblock %}

{% block head %}
<link href="{% sass_src 'maker/css/forms.scss' %}" rel="stylesheet" type="text/css" media="all">
{% endblock head %}


{% block rm-content %}

<h1>
	{% if object %}
	{% blocktrans %}Update {{ storage_name }}{% endblocktrans %}
	{% else %}
	{% blocktrans %}Add {{ storage_name }}{% endblocktrans %}
	{% endif %}
</h1>

{% block images %}{% endblock %}

<div class="rm-form">
	<form action="" method="post">
		{% csrf_token %}
		{% include '../form.html' %}
		<div class="mdl-cell mdl-cell--12-col">
			{% if object %}
			<input type="submit" value="{% blocktrans %}Update {{ storage_name }}{% endblocktrans %}"/>
			{% else %}
			<input type="submit" value="{% blocktrans %}Add {{ storage_name }}{% endblocktrans %}"/>
			{% endif %}
		</div>
	</form>
</div>

{% endblock rm-content %}
