$roboto-font-path: "roboto-fonts";
@import "roboto-fontface/css/roboto/sass/roboto-fontface";

@import "material-design-lite/src/button/button";
@import "material-design-lite/src/card/card";
@import "material-design-lite/src/grid/grid";
@import "material-design-lite/src/layout/layout";
@import "material-design-lite/src/mixins";
@import "material-design-lite/src/resets/resets";
@import "material-design-lite/src/shadow/shadow";
@import "material-design-lite/src/typography/typography";

@import "mixins";

a {
    color: #0066CC;
}

a.rm-no-underline {
	text-decoration: none;
	color: unset;
}

body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

button {
    @include font-size(11px);
    font-weight: medium;
}

h1 {
    @include font-size(18px);
    font-weight: bold;
    text-align: left;
}

p {
    @include font-size(12px);
}

.mdl-button {
    border-radius: 25px;
    @include font-size(12px);
    margin: 10px;
}

.repo-header {
    color: #000000;
    background-color: #F8F8F8;

    .mdl-layout-title {
        @include font-size(14px);
        flex-grow: 1;
        text-align: center;
    }

    .mdl-navigation img {
        margin-left: 14px;
        height: 26px;
        width: 26px;
    }
}

.repo-content {
    text-align: center;
}

#repo-buttons-add {
    button {
        background: #0066CC;
    }
    display: none;
}

#repo-buttons-install-need {
    background: none;
    border: thin solid #58595B;
    color: #58595B;
}

.repo-buttons-install-have {
    button {
        background: none;
        border: thin solid #0066CC;
        color: #0066CC;
    }
}

.repo-buttons-install-have--mobile {
    display: none;
}

// On devices smaller than desktops the mobile URL is shown
@media (max-width: $grid-desktop-breakpoint - 1) {

    .repo-buttons-install-have--desktop {
        display: none;
    }

    .repo-buttons-install-have--mobile {
        display: inline-block;
    }
}

// On devices smaller than desktops only one app per line is shown, which should be centered.
@media (max-width: $grid-desktop-breakpoint - 1) {
    .repo-apps {
        justify-content: center;
    }
}

footer {
    margin-top: 50px;

    a {
        @extend a.rm-no-underline;
        font-weight: bold;
    }

    .mdl-mega-footer__top-section {
        background-color: #F8F8F8;
        padding: 25px;

        .mdl-cell--4-col {
            align-self: center;
            padding: 16px;
            text-align: right;
        }

        .mdl-cell--6-col {
            border-left: darkgrey solid 2px;
            padding-left: 16px;
            text-align: left;

            p:first-child {
                @include font-size(14px);
            }
        }

        @media (max-width: 839px) and (min-width: 480px) {
            .mdl-cell--4-col {
                text-align: center;
                margin: auto;
            }
            .mdl-cell--6-col {
                border-left: none;
                margin: auto;
            }
        }

        @media (max-width: 479px) {
            .mdl-cell--4-col {
                text-align: center;
                margin: auto;
            }
            .mdl-cell--6-col {
                border-left: none;
                margin: auto;
            }
        }
    }

    .mdl-mega-footer__bottom-section {
        color: #FFFFFF;
        background-color: #39414A;
        @include font-size(12px);
        padding: 16px;
        text-align: center;

        .repo-made-with {
            text-transform: uppercase;
        }
    }

}

@import "app/widget.scss";
